# Gemini - https://g.co/gemini-help
.gemini/
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
env/
venv/

# Rust
target/

# Quarto
_publish/
_freeze/
_site/
pages/_book/
*.tex

# Hulk
gemini.log
hulk-vscode.vsix
